@model App.Models.Entities.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SureName" class="control-label"></label>
                <input asp-for="SureName" class="form-control" />
                <span asp-validation-for="SureName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Courses.Id" class="control-label">Course</label>
                <select asp-for="Courses.Id" class="form-control" asp-items="ViewBag.Courses"></select>
                <span asp-validation-for="Courses.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (ViewBag.Faculties != null)
                {
                    <label asp-for="Faculties.Id" class="control-label">Faculty</label>
                    <select asp-for="Faculties.Id" class="form-control" asp-items="ViewBag.Faculties"><option>No Faculty</option></select>
                    <span asp-validation-for="Faculties.Id" class="text-danger"></span>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
